In [1]:
from pandas.io.json import json_normalize

In [2]:
# data is a list of dictionary
# and 'counties' is also a list of dictionary
data = [{'state': 'Florida',
         'shortname': 'FL',
          'info': {
               'governor': 'Rick Scott'
          },
          'counties': [{'name': 'Dade', 'population': 12345},
                     {'name': 'Broward', 'population': 40000},
                   {'name': 'Palm Beach', 'population': 60000}]},
         {'state': 'Ohio',
        'shortname': 'OH',
         'info': {
              'governor': 'John Kasich'
        },
          'counties': [{'name': 'Summit', 'population': 1234},
                    {'name': 'Cuyahoga', 'population': 1337}]}]

In [7]:
json_normalize(data)

,counties,info.governor,shortname,state
0,"[{u'name': u'Dade', u'population': 12345}, {u'...",Rick Scott,FL,Florida
1,"[{u'name': u'Summit', u'population': 1234}, {u...",John Kasich,OH,Ohio

In [8]:
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [11]:
json_normalize(data, 'counties', ['state', 'shortname'])

         name  population    state shortname
0        Dade       12345  Florida        FL
1     Broward       40000  Florida        FL
2  Palm Beach       60000  Florida        FL
3      Summit        1234     Ohio        OH
4    Cuyahoga        1337     Ohio        OH

In [9]:
json_normalize(data, 'counties', ['state', 'shortname','info'])

         name  population                           info    state shortname
0        Dade       12345   {u'governor': u'Rick Scott'}  Florida        FL
1     Broward       40000   {u'governor': u'Rick Scott'}  Florida        FL
2  Palm Beach       60000   {u'governor': u'Rick Scott'}  Florida        FL
3      Summit        1234  {u'governor': u'John Kasich'}     Ohio        OH
4    Cuyahoga        1337  {u'governor': u'John Kasich'}     Ohio        OH

In [10]:
json_normalize(data, 'counties', ['state', 'shortname',['info', 'governor']])

         name  population info.governor    state shortname
0        Dade       12345    Rick Scott  Florida        FL
1     Broward       40000    Rick Scott  Florida        FL
2  Palm Beach       60000    Rick Scott  Florida        FL
3      Summit        1234   John Kasich     Ohio        OH
4    Cuyahoga        1337   John Kasich     Ohio        OH